version: '3'
services:
    assessment:
        depends_on:
        - db_mysql
        links:
        - db_mysql
        restart: always
        build:
            dockerfile: Dockerfile
        environment:
            - DB_HOST=db_mysql
            - DB_PORT=52000
            - PORT=8080
            - DB_USER=dummy
            - DB_PWD=dummy@123
            - DB_NAME=trade_db
            - DB_DRIVER=mysql

    db_mysql:
        image: mysql:latest
        volumes:
            - todo-mysql-data:/var/lib/mysql
        environment: 
            - MYSQL_ROOT_HOST='host.docker.internal'
            - MYSQL_ROOT_PASSWORD=S3cret
            - MYSQL_PASSWORD=dummy@123
            - MYSQL_USER=dummy
            - MYSQL_DATABASE=trade_db
        ports:
            - 52000:3306
        volumes:
            - todo-mysql-data:/var/lib/mysql
volumes:
  todo-mysql-data:

    # db_mysql:
    #     image: mysql:latest

    #     environment:
